*{
    margin: 10px;
}
body{
    font-family: Arial, sans-serif;
    display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: #f5f5f5;
}
.main_container{
    display: flex;
    justify-content: center;
   
}
.container{
    border-radius: 20px;
    height:500px;
    width:700px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background:linear-gradient(to right, rgb(159, 238, 86),rgb(245, 247, 121));
}
.header{
    height: 50px;

    width:100%;
    background-color: wheat;
    margin: 0px;
    display: flex;
    justify-content: center;
    border-radius:  20px 20px 0 0;
}
.main_content input{
   
    width:200px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
#btn , #btnreset{
    padding: 10px;
    border-radius: 8px;
    width:80px;
    background-color: rgb(124, 236, 246);
    display: inline-block;
    /* display: flex;
    flex-direction: column; */
    /* align-items: center;
    justify-content: center; */
    margin: 10px auto;
  
}
#btn:hover,#btnreset:hover{
    background-color: rgb(35, 73, 163);
    color: white;
}

.button-container {
    display: flex;
    justify-content: space-between; /* This distributes items along the main axis */
    
  }
label{
    font-weight: bold;
  
}